#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		defaultVolby: senatAkomunal2014
		twitter:
			ACCOUNT_KEY: 'ACCOUNT_KEY'
			ACCOUNT_SECRET: 'ACCOUNT_SECRET'
			CONSUMER_KEY: 'CONSUMER_KEY'
			CONSUMER_SECRET: 'CONSUMER_SECRET'
		prezident2013:
			typ: prezident2kolo # bude nekolik typu
			volbyUrl: 'http://volby.cz/pls/prez2013/pe2?xjazyk=CZ'
#			volbyUrl: http://localhost/volbyUrl.htm
			tagZpracovano: "td[headers=r12 s1a1 s1b3]" # presny identifikator bunky s procentem zpracovani
			tagUcast: "td[headers=r12 s1a4]" # presny identifikator bunky s procentem ucasti
			tagOsoby: "td.postupujici" # attr class
			attrJmenoOsoby: "s2a1 s2b2" # attr headers
			attrProcentaOsoby: "s2a6 s2b6" # attr headers
			k1: "MZ" # kandidat 1 Milos Zeman - PODLE PORADI V TABULCE
			k2: "KS" # kandidat 2 Karel Schwarzenberg
			table: prezident2kolo
			publikovat: 5 # kazdych 5 procent
			startDen: "26.01.2013"
			startCas: "14:00"
			title: 'Prezident republiky 2013 - 2 kolo'
			subtitle: 'Miloš Zeman (MZ) vs Karel Schwarzenberg (KS)'
		poslaneckaSnemovna2013:
			typ: parlament # bude nekolik typu
#			volbyUrl: 'http://volby.cz/pls/ps2013/vysledky'
			volbyUrl: http://localhost/volbyonline/ps2013.xml
			table: poslaneckasnemovna2013
			publikovat: 5 # kazdych 5 procent
			startDen: "26.10.2013"
#			startCas: "14:00"
			startCas: "01:00"
			title: 'Poslanecká sněmovna 2013'
			subtitle: 'Předčasné volby do parlamentu'
			zobrazit: #zkratky co nejkratsi, jdou do tweetu
				1: ČSSD
				2: SSO
				3: ČPS
				4: TOP 09
#				5: HV
				6: ODS
#				9: ZMENA
				11: KDU-ČSL
#				13: Suverenita
				15: SPOZ
				17: Úsvit
				20: ANO
				21: KSČM
				23: SZ
		senatAkomunal2014:
			typ: multi # bude nekolik typu
			publikovat: 5 # kazdych 5 procent
			startDen: "26.10.2013"
#			startCas: "14:00"
			startCas: "01:00"
			title: 'Senátní a komunální volby 2014'
			subtitle: 'Volby do zastupitelstev obcí a do Senátu Parlamentu ČR konané dne 10.10. – 11.10.2014'
			multi:				
				brno2014: Zastupitelstvo statutárního města Brna				
				senatPraha22014: Volby do Senátu v Praze 5
				vsetin2014: Zastupitelstvo města Vsetína
				prostejov2014: Zastupitelstvo statutárního města Prostějova
	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'mysql:host=localhost;dbname=twittervolby'
			user: root
			password:

		session:
			expiration: 14 days


	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter

		database: @Nette\Database\Connection

		prezident:
			factory: @database::table(prezident2kolo)


	factories:

	includes:
		- multi2014.neon

production < common:

development < common:
