#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		defaultVolby: senatAkomunal2014
		senatAkomunal2014:
			typ: multi # bude nekolik typu
			publikovat: 5 # kazdych 5 procent
			startDen: "18.10.2014"
			startCas: "14:00"
			title: 'Senátní a komunální volby 2014'
			subtitle: 'Volby do zastupitelstev obcí a do Senátu Parlamentu ČR konané dne 10.10. – 11.10.2014'
			multi:				
				praha2014: Zastupitelstvo hlavního města Prahy
				brno2014: Zastupitelstvo statutárního města Brna
				brnostred2014: Zastupitelstvo statutárního města Brna-střed
				senatPraha12014: Volby do Senátu v Praze 1
				senatPraha52014: Volby do Senátu v Praze 5
				senatKladno2014: Volby do Senátu v Kladně
				vsetin2014: Zastupitelstvo města Vsetína
				prostejov2014: Zastupitelstvo statutárního města Prostějova
				litovel2014: Zastupitelstvo statutárního města Litovel
				premyslovice2014: Zastupitelstvo obce Přemyslovice
				---: 2 kolo senátních voleb 
				senat2kPraha12014: Volby do Senátu v Praze 1 - Schwarz vs Hampl
				senat2kPraha52014: Volby do Senátu v Praze 5 - Láska vs Žáček
				senat2kPraha92014: Volby do Senátu v Praze 9 - Kladívko vs Baudišová
				senat2kKladno2014: Volby do Senátu v Kladně - Dienstbier vs Vojtová
				senat2kLouny2014: Volby do Senátu v Lounech - Chládek vs Hanousková
				senat2kPelhrimov2014: Volby do Senátu v Pelhřimově - Štěch vs Jahelka				
				senat2kRychnov2014: Volby do Senátu v Rychnově nad Kněžnou - Antl vs Řehák
				senat2kPrerov2014: Volby do Senátu v Přerově - Prachař vs Seitlová
				senat2kZlin2014: Volby do Senátu ve Zlíně - Čuba vs Gajdůšková
				--: '? 3 místa volná, kontaktujte @3knedle'

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: 'mysql:host=localhost;dbname=twittervolby'
			user: root
			password:

		session:
			expiration: 14 days


	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter

		database: @Nette\Database\Connection

		prezident:
			factory: @database::table(prezident2kolo)


	factories:

	includes:
		- twitterAccount.neon			
		- zaloha.neon	
		- multi2014.neon
		- multi2014senat2k.neon				

production < common:

development < common:
