parameters:
	prostejov2014: 
		typ: komunalni
		title: Komunální volby města Prostějova 2014
		volbyUrl: 'http://www.volby.cz/pls/kv2014/vysledky_obec?datumvoleb=20141010&cislo_obce=589250'
		table: prostejov2014
		subtitle: 'Volby do zastupitelstva obce Prostějov'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu
#			1: Moravané
#			2: Koruna česká
#			3: Republikáni
			4: Změna
			5: KDU-ČSL
			6: ODS
			7: ANO
			8: Úsvit
			9: TOP09
			10: PéVéčko
			11: ČSSD
			12: KSČM
	brno2014: 
		typ: komunalni
		title: Komunální volby města Brna 2014
		volbyUrl: 'http://www.volby.cz/pls/kv2014/vysledky_obec?datumvoleb=20141010&cislo_obce=582786'
		table: brno2014
		subtitle: 'Volby do zastupitelstva obce Brno'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu
#			1: Antibursík
			2: KSČM
			3: ČSSD
			4: KDU-ČSL
#			5: Starostové
#			6: Moravané
			7: ŽítBrno
			8: Zelení
			9: Úsvit
#			10: Republika
			11: DSSS
			12: ODS
#			13: Konzervativci
			14: AcoBrno?
#			15: SSO
			16: TOP09
			17: ANO
	vsetin2014: 
		typ: komunalni
		title: Komunální volby města Vsetína 2014
		volbyUrl: 'http://www.volby.cz/pls/kv2014/vysledky_obec?datumvoleb=20141010&cislo_obce=541630'
		table: vsetin2014
		subtitle: 'Volby do zastupitelstva obce Vsetín'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu
#			1: SSO
			2: ODS
			3: KSČM
			4: ANO
			5: KDU-ČSL
			6: Koalice
#			7: Moravané
			8: Starostové
			9: ČSSD
			10: TOP09
	premyslovice2014: 
		typ: komunalni
		title: Komunální volby obce Přemyslovice 2014
		volbyUrl: 'http://www.volby.cz/pls/kv2014/vysledky_obec?datumvoleb=20141010&cislo_obce=589934'
		table: premyslovice2014
		subtitle: 'Volby do zastupitelstva obce Přemyslovice'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu
			1: Nezávislí
			2: Nezávislí pro Přemyslovice
			3: ČSSD
	
	senat2014:
		volbyUrl: 'http://www.volby.cz/pls/senat/vysledky?datum_voleb=20141010'
		table: senat2014kolo1			
	senatPraha22014: 
		typ: senatni
		nastaveni: senat2014
		title: Senátní volby v Praze 5 2014
		obvod: 21
		subtitle: 'Senát parlamentu - obvod Praha 5'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu
			1: Petrov
			2: Solis
			3: Hrádela
			4: Kříž
			5: Láska
			6: Balaš
			7: Ledl
			8: Adámková
			9: Jančík
			10: Žáček
			11: Štech
	senatPraha12014: 
		typ: senatni
		nastaveni: senat2014
		title: Senátní volby v Praze 1 2014
		obvod: 27
		subtitle: 'Senát parlamentu - obvod Praha 1'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu
			1: Kasal
			2: Gušlbauerová
			3: Šefl
			4: Jurových
			5: Pavlík
			6: Bursík
			7: Stwora
			8: Schwarz
			9: Hampl
			10: Dočekal
			11: Chromíková
			12: Rykl			
			13: Mládek			
			14: Janáčková		
			15: Jurinová
	senatKladno2014: 
		typ: senatni
		nastaveni: senat2014
		title: Senátní volby v Kladně 2014
		obvod: 30
		subtitle: 'Senát parlamentu - obvod Kladno'
		zobrazit: #zkratky co nejkratsi, jdou do tweetu						
			1: Kasal
			2: Cervan
			3: Landa
			4: Chaloupka
			5: Hausmann
			6: Kohoutová
			7: Vojtová
			8: Stehlík
			9: Šrámková
			10: Dienstbier			
